@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Maven+Pro');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*:focus {
    outline: 1px solid #ffffff;
}
header {
    width: 100%;
    height: 7vh;
    background:  #323232;
    nav ul:after{
        content: "";
    }
    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 50%;
        margin: 0 auto;
        li {
            list-style-type: none;
            a {
                text-decoration: none;
                font-family: Lato;
                color:  #ffffff;
                font-size: 1rem;
                line-height: 4;
                font-weight: 700;
                text-transform: uppercase;
                display: inline-block;
            }
            .logo {
                background: url(../img/Logo.png) no-repeat;
                width: 180px;
                height: 89px;
                margin-top: 1rem;
                margin-left: 1rem;
                margin-right: 1rem;  
            }
            a:hover {
                color: #2eb398; 
            }
        }
    }  
}
main {
    .content {
        width: 70%;
        display: flex;
        margin: 0 auto;
        padding-top: 7vh;
    }
    section.carusel {
        height: 93vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        div {
            display: flex;
        }
        div:first-child,
        div:last-child {
            // margin-left: 90px;
        }
        img{
            display: block;
            width: 180px;
            height: 206px;
            background: rebeccapurple;
            clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
        }
        
    }
    section.about {
        height: 50vh;
        background:  #2eb398;
        .content {
            justify-content: space-around;
        }
        img{
            display: block;
            width: 180px;
            height: 206px;
            background: rebeccapurple;
            clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
        }
        article {
            width: 60%;
        }
        h2 {
            font-family: MavenProRegular;
            color:  #d8fcf5;
            font-size: 1.875rem;
            font-weight: 400;
            text-align: justify;
        }
        h3 {
            font-family: MavenProRegular;
            color:  #1f816d;
            font-size: 1.125rem;
            font-weight: 400;
            text-align: justify;
        }
        p {
            padding-top: 2vh;
            font-family: Lato;
            color:  #d7fcf5;
            font-size: 1rem;
            font-weight: 400;  
            text-align: justify;
            a {
                text-decoration: none;
                color: rgb(165, 220, 213);
                font-size: 1.5rem;
            }
            a:hover {
                color: rgb(108, 204, 191)
            }
        }
        p:last-child{
            text-align: right
        }
    }
    section.touch {
        h2 {
            font-family: 'Maven Pro', sans-serif;
            color:  #e0e0e0;
            font-size: 1.875rem;
            font-weight: 400;
            text-align: justify;
        }
        h3 {
            font-family: 'Maven Pro', sans-serif;
            color:  #bebebe;
            font-size: 1.125rem;
            font-weight: 400;
            text-align: justify;
        }
        .content {
            justify-content: space-around;
        }
        height: 80vh;
        background:  #323232;

        article:first-child {
            width: 50%;
        }
        article:last-child {
            width: 20%
        }
        article {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            form {
                padding-top: 2vh;
                height: 60%;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: flex-end;
                input[type='submit'] {
                    background-color:  #2eb398;
                    width: 90px;
                    height: 37px;
                    border: none;
                    color: #ffffff;
                    text-transform: uppercase;
                    font-family: Lato;
                } 
                input[type='text'],
                input[type='email'],
                textarea {
                    background-color:  #454545;
                    height: 38px; 
                    border: none;
                    padding-left: 10px;
                    font-family: Lato;
                    color:  #bebebe;
                    font-size: 0.701rem;
                    font-weight: 400;
                    line-height: 1.922;
                    width: 100%      
                }
                input:focus,
                textarea:focus {
                    outline: 1px solid #ffffff
                }
                textarea {
                    height: 20vh;
                } 
            }
            p {
                font-family: Lato;
                color:  #bebebe;
                font-size: 1rem;
                font-weight: 700;
                text-align: justify;
            }
        }
    }
}
footer {
    height: 5vh;
    background:  #222222;
    p {
        font-family: 'Maven Pro', sans-serif;
        color:  #454545;
        font-size: 0.8rem;
        font-weight: 400;
        line-height: 3;
        margin-left: 3rem;
    }
}