* {
    margin: 0;
    padding: 0;
}
body {
    background: url(../img/style/bg.jpg) no-repeat fixed;
    background-size: cover;
    color: white;
}
.clear-fix {
    clear: both;
}
header {
    .contact-telephone {
        float: left;
    }
    .logo {
        float: left;
        width: 175px;
        height: 148px;
        background: url(../img/style/logo.png) no-repeat;
    }
    nav {
        background: url(../img/style/top_list.png) no-repeat;
        height: 100px;
        ul{

        }
    }
}
nav,
.litle-nav {
    ul li{ 
        list-style-type: none;
        float: left;
        a{
            display: inline-block;
        }
    }
}
.category {
    .daily{
        float: left;
    };
    .spetials{
        float: left;
    }
}

.content {
    .items {
        float: left;
        ul {
            float: left;
        }
    }
    .video {
        float: left;
    }
}
